<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="LFA.Code2"
    android:versionCode="1"
    android:versionName="2020.08.28 元町 タイヤメーカー追加" >

    <uses-sdk android:minSdkVersion="4" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <permission
        android:name="TEST_GRANTED"
        android:protectionLevel="normal" />

    <application
        android:icon="@drawable/car_icon"
        android:label="@string/app_name">
        <activity
            android:name=".LFA"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="Menyu"
            android:screenOrientation="portrait" />
        <activity
            android:name="UpLoad"
            android:screenOrientation="portrait" />
        <activity
            android:name="GroupList_Select"
            android:screenOrientation="portrait" />
        <activity
            android:name="Kensa"
            android:screenOrientation="portrait" />
        <activity
            android:name="Kensa2"
            android:screenOrientation="portrait" />
        <activity
            android:name="BodyNo"
            android:screenOrientation="portrait" />
        <activity
            android:name="KensaTire"
            android:screenOrientation="portrait" />
        <activity
            android:name="KensaList"
            android:screenOrientation="portrait" />
        <activity
            android:name="ResultTire"
            android:screenOrientation="portrait" />

    </application>

</manifest>